<mat-nav-list>
    <!-- <div class="profile-card">
        <div class="header">
            <h2>aaaa</h2>
            <h4>a@gmail.com</h4>
        </div>
        <img class="img" src="https://wallpapers.com/images/featured/en3dnh2zi84sgt3t.jpg" alt="picture">
    </div>
    <mat-divider></mat-divider> -->
    <!-- <h2 matSubheader>Operator</h2> -->

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/operator/view-list-customer">Customer List</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/operator/create-bank-account">Create Bank
        Account</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/operator/lock-bank-account">Lock Bank Account</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/operator/unlock-bank-account">Unlock Bank
        Account</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/operator/deposit-money">Deposit Money</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/operator/widthraw-money">Widthraw Money</a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/operator">Dashboard Test Chơi</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/operator/view-list-operator">Demo Test
        Operator</a> -->

    <!-- <mat-divider></mat-divider>
    <h2 matSubheader>Tools</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contact">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a> -->
</mat-nav-list>