<mat-nav-list>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/operator/view-list-customer">Customer List</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/operator/create-bank-account">Create Bank
        Account</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/operator/deposit-money">Deposit Money</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/operator/widthraw-money">Widthraw Money</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/operator/lock-bank-account">Lock Bank Account</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/operator/unlock-bank-account">Unlock Bank
        Account</a>
</mat-nav-list>