<p class="title">Operator List</p>
<table>
    <tr>
        <th>No</th>
        <th>Operator ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Status</th>
        <th>UserName</th>
        <th>Role</th>
        <th>Department Name</th>
    </tr>
    <tr *ngFor=" let o of operators; let i=index">
        <td>{{i+1}}</td>
        <td>{{o.operatorID}}</td>
        <td>{{o.operName}}</td>
        <td>{{o.operPhone}}</td>
        <td>{{o.operAddress}}</td>
        <td>{{o.operatorStatus}}</td>
        <td>{{o.user.userName}}</td>
        <td>{{o.user.role}}</td>
        <td>{{o.department.departmentName}}</td>
    </tr>

</table>
<!-- <app-operator></app-operator> -->
<!-- <hr /> -->
<!-- <app-login></app-login> -->
<hr>
<app-lock-bank-account></app-lock-bank-account>
<hr>
<app-unlock-bank-account></app-unlock-bank-account>
<hr>
<app-view-customers></app-view-customers>
<hr>
<app-deposit-money></app-deposit-money>