.title{
    color: red;
    text-align: center;
    font-size: 22px;
    /* align-content: center; */
}
.input{
    
    margin-top: 20px;
    margin-bottom: 20px;
}
.full-width{
    width: 100%;
}
.btSubmit{
    width: 100%;
}