<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div *ngIf="showList">
    <h2>List scheduleplans</h2>
    <table class="table text-center">
        <thead>
            <tr>
                <th class="col w-auto align-middle">ID</th>
                <th class="col w-auto align-middle">Name</th>
                <th class="col w-auto align-middle">Information</th>
                <th class="col w-auto align-middle">Description</th>
                <th class="col w-auto align-middle">Start Date</th>
                <th class="col w-auto align-middle">End Date</th>
                <th class="col w-auto align-middle">Initial Date</th>
                <!-- <th>Department</th> -->
                <th class="align-middle" style="color: black; width: 15%;">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let scheduleplan of schedulePlans">
                <td class="col w-auto">{{ scheduleplan.id }}</td>
                <td class="col w-auto">{{ scheduleplan.scheduleplan_name }}</td>
                <td class="col w-auto">{{ scheduleplan.scheduleplandetail_info }}</td>
                <td class="col w-auto">{{ scheduleplan.scheduleplan_description }}</td>
                <td class="col w-auto">{{ scheduleplan.startDate }}</td>
                <td class="col w-auto">{{ scheduleplan.endDate }}</td>
                <td class="col w-auto">{{ scheduleplan.createDate }}</td>
                <!-- <td>{{ scheduleplan.department?.id }}</td> -->
                <!-- <td>{{ (scheduleplan.departmentId) }}</td> -->
                <!-- <td>{{ getDepartmentById(scheduleplan.department?.departmentId) }}</td> -->
                <td>
                    <div class="actionBtns">
                        <button class="btn btn-outline-danger col w-auto" (click)="handleDeleteSchedulePlan(scheduleplan.id)"><i class="fas fa-trash-alt"></i><b>Delete</b></button>
                        <button class="btn btn-outline-success col w-auto" (click)="showFormUpdateSchedulePlan(scheduleplan)" style="margin-left: 5%;"><i class="fas fa-pencil-alt"></i><b>Update</b></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- form add -->
<button *ngIf="showList" class="btn btn-primary" (click)="showFormAddSchedulePlan()"><i class="fas fa-plus"></i> Add schedule plan</button>
<div *ngIf="showFormAdd" class="form-control" style="display: flex; flex-direction: column;">
    <h5 style="margin-bottom: 5%;">{{ form_name }}</h5>
    <div class="form">
        <input type="text" id="scheduleplan_name" [(ngModel)]="name" placeholder="Name" required>
        <input type="text" id="scheduleplandetail_info" [(ngModel)]="info" placeholder="Information" required>
        <input type="text" id="scheduleplan_description" [(ngModel)]="desc" placeholder="Description" required>
        <!-- <input type="text" id="startDate" placeholder="start_date"> -->
        <!-- <input type="text" ngxDaterangepickerMd [(ngModel)]="selectedStartDate" class="form-control" /> -->
        <!-- <input type="text" ngxDaterangepickerMd [lockStartDate]="false" [(ngModel)]="selectedStartDate" placeholder="Choose start_date & end_date" (ngModelChange)="ngModelChange()" /> -->
        <input type="text" ngxDaterangepickerMd [lockStartDate]="false" [(ngModel)]="pickDate" placeholder="Choose start-end date" (ngModelChange)="ngModelChange()" required />
        <!-- <select [(ngModel)]="selectedDepartment" (change)="onDepartmentChange()" required>
            <option disabled selected value="">Choose department</option>
            <option *ngFor="let department of departments" [value]="department">{{ department.departmentId }} - {{ department.departmentName }}</option>
        </select> -->
        <select [(ngModel)]="selectedDepartment" (change)="onDepartmentChange()" required>
            <option disabled>Choose department</option>
            <option value="Manager Department">Manager Department</option>
            <option value="Operator Department">Operator Department</option>
        </select>
        <div class="viewTwoBtns" style="margin-top: 2%;">
            <button class="btn btn-outline-primary" (click)="handleAddSchedulePlan()"><b>Add</b></button>
            <button class="btn btn-outline-secondary" (click)="handleCancel()"><b>Cancel</b></button>
        </div>
    </div>
</div>

<!-- form update -->
<div *ngIf="showFormUpdate" class="form-control" style="display: flex; flex-direction: column;">
    <h5 style="margin-bottom: 5%;">{{ form_name }}</h5>
    <div class="form">
        <input type="text" id="scheduleplan_name" [(ngModel)]="name" placeholder="Name" required>
        <input type="text" id="scheduleplandetail_info" [(ngModel)]="info" placeholder="Information" required>
        <input type="text" id="scheduleplan_description" [(ngModel)]="desc" placeholder="Description" required>
        <input type="text" ngxDaterangepickerMd [lockStartDate]="false" [(ngModel)]="pickDate" placeholder="Choose start-end date" (ngModelChange)="ngModelChange()" required />
        <select [(ngModel)]="selectedDepartment" (change)="onDepartmentChange()" required>
            <option disabled>Choose department</option>
            <option value="Manager Department">Manager Department</option>
            <option value="Operator Department">Operator Department</option>
        </select>
        <div class="viewTwoBtns" style="margin-top: 2%;">
            <button class="btn btn-outline-primary" (click)="handleUpdateSchedulePlan()"><b>Update</b></button>
            <button class="btn btn-outline-secondary" (click)="handleCancel()" style="margin-left: 5%;"><b>Cancel</b></button>
        </div>
    </div>
</div>