.title{
    color:red
}
table {
  border-collapse: collapse;
  }
  
td, th {
    border: 1px solid #6b6a6a;
    text-align: left;
    padding: 8px;
  }
.Action{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: none;
  
}

::ng-deep ngb-modal-backdrop {
  z-index: 1050 !important;
}
/* mở code tui ra bro */